RewriteEngine On

# HTTPS erzwingen
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
</IfModule>

<IfModule mod_headers.c>
    # Verhindert, dass die Seite in einem iFrame geladen wird (Schutz vor Clickjacking)
    Header set X-Frame-Options "DENY"
    
    # Zwingt den Browser, sich an die deklarierten MIME-Types zu halten (Schutz vor MIME-Sniffing)
    Header set X-Content-Type-Options "nosniff"
    
    # Weist den Browser an, für 1 Jahr ausschließlich HTTPS zu nutzen (Strict Transport Security)
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    
    # Aktiviert den browserinternen XSS-Filter
    Header set X-XSS-Protection "1; mode=block"
    
    # Basis Content-Security-Policy (CSP): Erlaubt nur Ressourcen von deiner eigenen Domain
    # (Passe dies an, falls du externe Fonts, Bilder oder Scripts einbindest)
    Header set Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline';"
	
	# Zwingt den Browser bei CSS und JS zur Re-Validierung
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "public, max-age=604800, stale-while-revalidate=86400"
    </FilesMatch>
</IfModule>